.container-menu{
    background-color:rgb(32, 29, 29);
    display: flex;
    justify-content: center;
    border: 7px solid black;
}

.h1-menu{
    color: white;
    font-size:40px;
}

.section-menu{
    display: flex;
    height: 100%;
    background-color: #0005;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 5px solid black;
    font-size:20px;
}